.calculatorBtn {
    background-color: #eeeeee;
    border: none;
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 2px;
    border-radius: 5%;
    transition: 0.3s;
    width: 100px;
}

.calculatorBtn:hover {
    filter: brightness(95%);
}


.operatorBtn {
    background-color:#d3d3d3;
}

.equalBtn {
    background-color: var(--primary-color) ;
    color: white;
}

#exprField {
    margin: 2px;
    font-size: 16px;
    width: 366px;
    padding: 15px;
}

#calculatorDiv {
    padding: 10px;
    width: fit-content;
    border-radius: 2%;
    border : thin solid #d3d3d3;
}