table {
    border: 1px sol;
}

#matrix-divider {
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    border : thin solid #d3d3d3;
}

#matrix-size {
    padding: 5px;
}

.matrix-field:disabled {
    color: black;
}